h2 {
    font-size: 0.9rem;
    padding: 12px;
}


media (max-width: 375px)
.formulario {
    /* padding: 2px; */
    gap: 0px;
    width: 100%;
    margin-bottom: -20px;
    margin-left: -49px;
}


.label {
    font-size: 9px;
    margin-left: 36px;
}


.input-main {
    width: 32%;
    padding-right: 48px;
    position: relative;
    border-radius: 3em;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10px;
}


.input-data {
    border-radius: 1em;
    position: relative;
    display: flex;
    width: 68.2%;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    font-size: 11px;
}



.botao1 {
    display: flex;
    gap: 13px;
    margin-top: 0px;
    margin-left: 6px;
    padding: 6px;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
}



.content-white {
    background-color: #fff;
    position: relative;
    top: -60px;
    border-radius: 20px;
    height: auto;
    margin-bottom: 47px;
    width: 81%;
}