/* global */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GERAL */
body {
    background: #D9D9D9;
    font-family: 'Courier New', Courier, monospace;
}

.principal {
    position: relative;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

button,
input:hover {
    cursor: pointer;
}

/* HEADER */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-top: 60px;
    margin-right: 25px;
}

ul li a {
    color: #FFFFFF;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.selec {
    text-decoration: underline #2FC6A1 4px;

}


.logo {
    display: flex;
    line-height: 15px;
    margin-top: 50px;

}

.border-height {
    border-left: 1.5px solid #2FC6A1;
    border-right: 1px;
    padding-right: 2px;

}


/* CONTAINER */
.container-header {
    width: 100%;
    height: 180px;
    background-color: #614DD8;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    height: 100px;
}

.content-white {
    background-color: #fff;
    position: relative;
    top: -60px;
    border-radius: 20px;
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}


p {
    font-size: 1.3rem;
    padding: 10px 30px;
    font-weight: 100;
    font-family: sans-serif;
    color: #494949;
    width: 100%;
}

.texto-explicacao {
    max-width: 610px;
}

h3 {
    font-size: 2rem;
    padding: 30px 0px 5px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width: 100%;
}

h2 {
    font-size: 1.5rem;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width: 100%;
}

h1 {
    padding: 1px;
    font-size: 1.3rem;
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

h1>span {
    color: #2FC6A1;
    font-size: 1.3rem;
}

/* FORMULARIO */

.formulario {
    padding: 0px 2px;
    display: flex;
    width: 100%;
    gap: 30px 56px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    padding: 10px 15px;
}

.input-main {
    background: #D9D9D9;
    border-radius: 3em;
    width: 100%;
    padding: 10px 10px;
    border: none;
}

.botao-cadastrar {
    padding: 30px;
    display: flex;
    justify-content: end;
}

.botao1 {
    display: flex;
    gap: 33px;
    padding: 21px;
    flex-direction: row;
    margin-left: 340px;
    margin-top: 91px;
}


button {
    border-radius: 2rem;
    border: none;
    background: #b2b2b2;
    color: #494949;
    padding: 6.1px 42px;

}

.cadastrar {
    background: #2FC6A1;
    color: #fff;
    font-size: large;
    font-weight: bold;
    padding: 5px 28px;
    text-decoration: none;
}


/* TABELA 2 */

.tabela-cadastrados {
    border-collapse: collapse;
    width: 100%;
    padding: 20px 0px;
}

.filter {
    gap: 36px;
    font-weight: 900;
    margin-left: 12px;
}

table th,
table td {
    padding: 7px;
}

h2 {
    font-size: 1.5rem;
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    padding: 20px;
}


.content-table {
    background: #d5d5d5;
    border-radius: 8px;
}

.largura {
    display: flex;
    padding: 0px 15px;
}

/* .item {} */

/* footer */

.footer-principal {
    margin-bottom: 0px;
    margin-top: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #242424;
    color: #b2b2b2;
}

.footer-final {
    background: #0e0e0e;
    font-size: 9px;
    width: 100%;
    padding: 10px;
    text-align: center;
}

h4 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 19px;
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.texto-footer {
    color: #b2b2b2;
    text-align: center;
}































@media (max-width: 415px) and (orientation: portrait) {
    body {
        line-height: 1;
        width: 100%;
    }

    .container-header {
        width: 100%;
        height: 118px;
        background-color: #614DD8;
    }

    .container {
        max-width: 306px;
        width: 100%;
        margin: 0 auto;
        height: 56px;
    }

    ul li a {
        color: #FFFFFF;
        font-weight: 900;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 0.7rem;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .content-white {
        background-color: #fff;
        position: relative;
        top: -60px;
        border-radius: 20px;
        height: auto;
        margin-bottom: 17px;
        width: 100%;
    }



    h3 {
        font-size: 0.9rem;
        padding: 15px 0px 5px 7px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        width: 100%;
    }


    p {
        font-size: 0.7rem;
        padding: 4px 8px;
        font-weight: 100;
        font-family: sans-serif;
        color: #494949;
        width: 84%;
    }



    ul li {
        margin-top: 23px;
        margin-right: 9px;
    }


    .logo {
        display: flex;
        line-height: 15px;
        margin-top: 22px;
    }





    .cadastrar {
        background: #2FC6A1;
        color: #fff;
        font-size: smaller;
        font-weight: bold;
        /* padding: 5px 28px; */
        text-decoration: none;
        display: flex;
    }



    button {
        border-radius: 1rem;
        border: none;
        padding: 4.1px 15px;
    }

    .formulario {
        padding: 5px 0px;
        display: flex;
        flex-direction: row;
        gap: 10px 0px;
        width: 78%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .input-main {
        width: 122%;
        position: relative;
        border-radius: 3em;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 11px;
    }

    /* tabela */

    .tabela-cadastrados {
        border-collapse: collapse;
        width: 100%;
        padding: 20px 0px;
    }
    
    .filter {
        gap: 36px;
        font-weight: 900;
        margin-left: 12px;
    }
    
    table th,
    table td {
        padding: 7px;
        font-size: 9px;
    }
    
    h2 {
        font-size: 1rem;
        padding: 10px 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        width: 100%;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        padding: 20px;
    }
    
    
    .content-table {
        background: #d5d5d5;
        border-radius: 8px;
    }
    
    .largura {
        display: flex;
        padding: 0px 15px;
    }





    label {
        font-size: 11px;
        margin-left: 0px;
        margin-bottom: -11px;
        padding: 10px;
    }

    .botao1 {
        display: flex;
        gap: 17px;
        margin-top: 0px;
        margin-left: 0px;
        padding: 14px 0px;
        flex-direction: row;
    }

    .botao-cadastrar {
        display: flex;
        gap: 13px;
        padding: 11px;
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
    }

    .footer-principal {
        margin-bottom: 0px;
        margin-top: 220px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: #242424;
        color: #b2b2b2;
    }

    .footer-final {
        background: #0e0e0e;
        font-size: 9px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    h4 {
        color: #FFFFFF;
        font-weight: 900;
        font-size: 19px;
        padding: 15px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .texto-footer {
        color: #b2b2b2;
        text-align: center;
    }


}




/* @media (min-width:760px) {
    body {
        line-height: 1;
        width: 100%;
    }

    .container-header {
        width: 100%;
        height: 118px;
        background-color: #614DD8;
    }

    .container {
        max-width: 306px;
        width: 100%;
        margin: 0 auto;
        height: 56px;
    }
} */